<br>
<p>
<div id="side_bio">
<%= image_tag('ak_fan.jpeg', :id => "bio_pic") %>
<p id="bio_mini"> Andrew Kelly is an aspiring web developer currently living in Chicago. This blog will usually be programming-related, with occasional tangents about other topics. </p>
</div>

<% @posts.each do |post| %>
  <h2 id="post_date"> 
    <%= post.title %> 
  </h2>
  <h3>
  	<%= post.created_at.strftime("%B %d, %Y") %>
  </h3>
  <p id="post_content"> 
  	<%= post.content %> 
  </p>
  <p>
		<%= raw post.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %>
	</p>
<% end %>

<% if session[:user_id] %>
	<%= link_to 'New Post', new_post_path %>
<% end %>
