<div class="post_content">
<div class="clear"></div>
<% @posts.each do |post| %>
  <h1 class="post_title"> 
    <%= link_to post.title.downcase, post_path(post) %> 
  </h1>
  <h2 class="post_date">
  	<%= post.created_at.in_time_zone('Central Time (US & Canada)').strftime("%B %d, %Y %l:%M%p") %>
  </h2>
  <p id="post_content"> 
  	<%= truncate_html(post.content, :length => 420, :word_boundary => true) %>
  </p>
  <p>
  	<%= link_to 'Continue Reading', post_path(post), :id => "continue_reading" %>
  </p>
  <p>
		Tags: <%= raw post.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %>
	</p>
	<% if session[:user_id] %>
		<%= link_to 'Edit', edit_post_path(post) %> 
	<% end %>
<% end %>

<% if session[:user_id] %>
	<%= link_to 'New Post', new_post_path, :id => "new_post" %>
<% end %>

<%= paginate @posts %>
</div>