<br />
<h2>
  <%= @post.title %>
</h2>
<h3>
  <%= @post.created_at.in_time_zone('Central Time (US & Canada)').strftime("%B %d, %Y %l:%M%p") %>
</h3>
<p>
  <%= @post.content.html_safe %>
</p>

<p>
		Tags: <%= raw @post.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %>
</p>


<%= link_to 'Return to main page', posts_path, :id => "return" %>


<% if session[:user_id] %>
	<%= link_to 'Edit', edit_post_path(@post) %> 
<% end %>