<div class="post_content">
<div class="clear"></div>
<h1 class="post_title">
  <%= @post.title.downcase %>
</h1>
<h2 class="post_date">
  <%= @post.created_at.in_time_zone('Central Time (US & Canada)').strftime("%B %d, %Y %l:%M%p") %>
</h2>
<p class="post_actual">
  <%= @post.content.html_safe %>
</p>
<br>
<p>
		Tags: <%= raw @post.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %>
</p>


<%= link_to 'Return to main page', posts_path, :id => "return" %>


<% if session[:user_id] %>
	<%= link_to 'Edit', edit_post_path(@post) %> 
<% end %>